@model Advert
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Real EState - Listing Page</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/EState/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/EState/style.css">

</head>


<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="south-load"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">



        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="southNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="~/EState/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(/EState/img/bg-img/hero1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">@Model.AdvertTitle</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Listings Content Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Single Listings Slides -->
                    <div class="single-listings-sliders owl-carousel">
                        @foreach (var item in ViewBag.images)
                        {
                            <img src="~/img/@item.ImageName" alt="">
                        }
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="listings-content">
                        <!-- Price -->
                        <div class="list-price">
                            <p>@Model.Price ₺</p>
                        </div>
                        <h5>@Model.AdvertTitle</h5>

                        <p>@Model.Descriptions</p>
                        <p class="location"><img src="~/EState/img/icons/location.png" alt="">@Model.Neighbourhood.District.DistrictName - @Model.Neighbourhood.District.City.CityName</p>
                        <p>@Model.Address</p>
                        <!-- Meta -->
                        <div class="property-meta-data d-flex align-items-end">
                            <div class="new-tag">
                                <img src="~/EState/img/icons/new.png" alt="">
                            </div>
                            <div class="bathroom">
                                <img src="~/EState/img/icons/bathtub.png" alt="">
                                <span>@Model.BathroomNumbers</span>
                            </div>
                            <div class="garage">
                                <img src="~/EState/img/icons/garage.png" alt="">
                                @if (Model.Garage != null)
                                {
                                    <span> @Model.Garage</span>
                                }
                                else
                                {
                                    <span>Yok</span>
                                }

                            </div>
                            <div class="space">
                                <img src="~/EState/img/icons/space.png" alt="">
                                <span>@Model.Area m<sub>2</sub></span>
                            </div>
                        </div>
                        <!-- Core Features -->
                        <ul class="listings-core-features d-flex align-items-center">
                            @if (Model.AirCordinator == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Klima </li>
                            }
                            @if (Model.Fireplace == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Şömine </li>
                            }
                            @if (Model.Garden == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Bahçe </li>
                            }
                            @if (Model.Firnutere == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Eşyalı </li>
                            }
                            @if (Model.Pool == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Havuzlu </li>
                            }
                            @if (Model.Teras == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Teraslı </li>
                            }
                            @if (Model.AirCordinator == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Klimalı </li>
                            }
                            @if (Model.Credit == true)
                            {
                                <li><i class="fa fa-check" aria-hidden="true"></i> Krediye Uygun </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="contact-realtor-wrapper">
                        <div class="realtor-info">
                            <img src="~/EState/img/bg-img/listing.jpg" alt="">
                            <div class="realtor---info">
                                <h2>Jeremy Scott</h2>
                                <p>Realtor</p>
                                <h6><img src="~/EState/img/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                                <h6><img src="~/EState/img/icons/envelope.png" alt=""> office@template.com</h6>
                            </div>
                            <div class="realtor--contact-form">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="realtor-name" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="realtor-number" placeholder="Your Number">
                                    </div>
                                    <div class="form-group">
                                        <input type="enumber" class="form-control" id="realtor-email" placeholder="Your Mail">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="realtor-message" cols="30" rows="10" placeholder="Your Message"></textarea>
                                    </div>
                                    <button type="submit" class="btn south-btn">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing Maps -->
            <div class="row">
                <div class="col-12">
                    <div class="listings-maps mt-100">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Listings Content Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay" style="background-image: url(/EState/img/bg-img/cta.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>About Us</h6>
                            </div>

                            <img src="~/EState/img/bg-img/footer.jpg" alt="">
                            <div class="footer-logo my-4">
                                <img src="~/EState/img/core-img/logo.png" alt="">
                            </div>
                            <p>Integer nec bibendum lacus. Suspen disse dictum enim sit amet libero males uada feugiat. Praesent malesuada.</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>Hours</h6>
                            </div>
                            <!-- Office Hours -->
                            <div class="weekly-office-hours">
                                <ul>
                                    <li class="d-flex align-items-center justify-content-between"><span>Monday - Friday</span> <span>09 AM - 19 PM</span></li>
                                    <li class="d-flex align-items-center justify-content-between"><span>Saturday</span> <span>09 AM - 14 PM</span></li>
                                    <li class="d-flex align-items-center justify-content-between"><span>Sunday</span> <span>Closed</span></li>
                                </ul>
                            </div>
                            <!-- Address -->
                            <div class="address">
                                <h6><img src="~/EState/img/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                                <h6><img src="~/EState/img/icons/envelope.png" alt=""> office@template.com</h6>
                                <h6><img src="~/EState/icons/location.png" alt=""> Main Str. no 45-46, b3, 56832, Los Angeles, CA</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>Useful Links</h6>
                            </div>
                            <!-- Nav -->
                            <ul class="useful-links-nav d-flex align-items-center">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Listings</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Elements</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>Featured Properties</h6>
                            </div>
                            <!-- Featured Properties Slides -->
                            <div class="featured-properties-slides owl-carousel">
                                <!-- Single Slide -->
                                <div class="single-featured-properties-slide">
                                    <a href="#"><img src="~/EState/img/bg-img/fea-product.jpg" alt=""></a>
                                </div>
                                <!-- Single Slide -->
                                <div class="single-featured-properties-slide">
                                    <a href="#"><img src="~/EState/img/bg-img/fea-product.jpg" alt=""></a>
                                </div>
                                <!-- Single Slide -->
                                <div class="single-featured-properties-slide">
                                    <a href="#"><img src="~/EState/img/bg-img/fea-product.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Copywrite Text -->
        <div class="copywrite-text d-flex align-items-center justify-content-center">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="~/EState/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper j~/EState/s -->
    <script src="~/EState/js/popper.min.js"></script>
    <!-- Bootstra~/EState/p js -->
    <script src="~/EState/js/bootstrap.min.js"></script>
    <!-- Plugins ~/EState/js -->
    <script src="~/EState/js/plugins.js"></script>
    <script src="~/EState/js/classy-nav.min.js"></script>
    <script src="~/EState/EState/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="~/EState/js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="~/EState/js/map-active.js"></script>

</body>

</html>
