
<div class="south-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advanced-search-form">
                    <!-- Search Title -->
                    <div class="search-title">
                        <p>Size Uygun İlanları Hızlıca Filtreleyebilirsiniz</p>
                    </div>
                    <!-- Search Form -->
                    <form asp-action="Filter" asp-controller="Home" method="get">
                        <div class="row">

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="min" placeholder="En Az">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="max" placeholder="En Çok">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" name="cityid" id="CityId">
                                        <option value="0" selected>Şehir Seçiniz</option>

                                        @foreach (var item in ViewBag.cities)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" id="DistrictId" name="districtId">
                                        <option value="0" selected>Semt Seçiniz</option>
                                        @foreach (var item in ViewBag.districtList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                        @* <option value="DistrictId"></option> *@
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" id="NeighbourhoodId" name="neighbourhoodid">
                                        <option value="0" selected>Mahalle Seçiniz</option>
                                        @foreach (var item in ViewBag.neighbourhoodList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                        @* <option value="NeighbourhoodId"></option> *@
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-3">
                                <div class="form-group">
                                    <select class="form-control" id="SituationId" name="situationId">
                                        <option value="0" selected>Durum Seçiniz</option>
                                        @foreach (var item in ViewBag.situationList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-2">
                                <div class="form-group">
                                    <select class="form-control" id="TypeId" name="typeId">
                                        <option value="0" selected>Tip Seçiniz</option>

                                        @foreach (var item in ViewBag.typeList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                       @*  <option value="TypeId"></option> *@
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-between align-items-end">
                             
                                <!-- Submit -->
                                <div class="form-group mb-0">
                                    <button type="submit" asp-action="Filtre" asp-controller="Home" class="btn south-btn">Ara</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/Admin/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CityId").change(function () {
            var cityId = $(this).val();

            debugger;

            $.ajax({
                type: "POST",
                url: "/Home/Advert/DistrictGet?CityId=" + cityId,
                contentType: "html",
                success: function (response) {
                    debugger;
                    $("#DistrictId").empty();
                    $("#DistrictId").append(response);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SituationId").change(function () {
            var situationId = $(this).val();

            debugger;

            $.ajax({
                type: "POST",
                url: "/Home/Advert/TypeGet?SituationId=" + situationId,
                contentType: "html",
                success: function (response) {
                    debugger;
                    $("#TypeId").empty();
                    $("#TypeId").append(response);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#DistrictId").change(function () {
            var districtId = $(this).val();

            debugger;

            $.ajax({
                type: "POST",
                url: "/Home/Advert/NeighbourhoodGet?DistrictId=" + districtId,
                contentType: "html",
                success: function (response) {
                    debugger;
                    $("#NeighbourhoodId").empty();
                    $("#NeighbourhoodId").append(response);
                }
            });
        });
    });
</script>