@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<City>
@{
    ViewData["Title"] = "DeleteCityList";
}


@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success">Sitede herhangi bir şehir bulunamamaktadır.</div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-bordered table table-striped">
        <tr>
            <th>ID</th>
            <th>Şehir Adı</th>
            <th>Sil</th>
            <th>Aktif Yap</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.CityKey</th>
                    <td>@item.CityName</td>
                    <td><a class="btn btn-danger" data-id="@item.CityId" id="delete-@item.CityId">Sil</a></td>
                    <td><a class="btn btn-success" asp-action="GetActiveCity" asp-route-id="@item.CityId">Aktif Yap</a></td>

                </tr>
            }
        </tbody>
    </table>
}
<br />
<a class="btn btn-primary" asp-action="Create">Şehir Ekle</a>
<br />
<br />

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))




<script type="text/javascript">
    $(document).ready(function () {
        $("a[id^='delete-']").click(function () {
            var id = $(this).data("id");
            var row = $(this).closest("tr");

            swal({
                title: "Silmek İstiyor musunuz ?",
                text: "Şehir Silinecek silmek istediğinize emin misiniz!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "GET",
                            url: "/Admin/City/FullDelete/" + id,
                            success: function () {
                                toastr.error("Şehir silme işlemi başarıyla gerçekleşti.");
                                row.remove();
                            },
                            error: function () {
                                toastr.error("şehir silme işlemi sırasında bir hata oluştu.");
                            }
                        });
                    }
                });
        });
    });
</script>